<div class="header">
  <!--Content before waves-->
  <div class="inner-header flex">
    <img src="assets/images/home.png" alt="" class="left-image">
    <h1>Welcome to <span class="gold-text">Riva Capital</span></h1>
  </div>

  <!--Waves Container-->
  <div>
    <svg
      class="waves"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
      shape-rendering="auto"
    >
      <defs>
        <path
          id="gentle-wave"
          d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
        />
      </defs>
      <g class="parallax">
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="0"
          fill="rgba(255,255,255,0.7)"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="3"
          fill="rgba(255,255,255,0.5)"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="5"
          fill="rgba(255,255,255,0.3)"
        />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
  <!--Waves end-->
</div>
<!--Header ends-->

<!--Content starts-->
<div class="content flex">
  <p>The best bank services here </p>
  <div>
    <img src="assets/images/manyPlantforms.jpg" alt="platforms">
  </div>
  <p class="new-paragraph"> At <span class="gold-text">Riva Capital</span>, we redefine banking with a commitment to innovation, security, and personalized service. Discover a world where your financial goals become achievable realities, and your peace of mind is our top priority.
  </p>
</div>
<!--Content ends-->