<div class="blockcode mt-5">
    <footer class="page-footer shadow">
        <div class="d-flex flex-wrap justify-content-between align-items-center mx-auto py-4" style="width: 80%">
            <div class="d-flex flex-wrap align-items-center">
                <a href="/#" class="d-flex align-items-center p-0 text-dark">
                    <img alt="logo" src="assets/images/logo2.png" height="70px" />
                    <span class="ms-4 h5 mb-0 font-weight-bold" style="color: white;">Riva Capital</span>
                </a>
                <span style="
                          font-size: 3em;
                          margin: -2rem 0px -1.5rem 1rem;
                          color: #dbb658;
                        ">&#8226;</span>
                <small class="ms-2" style="color: aliceblue; font-size: 1.2em;">&copy; Riva Capital, 2024. All rights reserved.</small>
            </div>
            <div>
                <button class="btn btn-dark btn-flat p-2" style="color: #dbb658;">
                    <fa-icon [icon]="mylinkedin"></fa-icon>
                </button>
                <button class="btn btn-dark btn-flat p-2" style="color: #dbb658;">
                    <fa-icon [icon]="myfacebook"></fa-icon>
                </button>
                <button class="btn btn-dark btn-flat p-2" style="color: #dbb658;">
                    <fa-icon [icon]="mymedium"></fa-icon>
                </button>
            </div>
        </div>
    </footer>
</div>