.blockcode {
    background: linear-gradient(60deg,
            rgba(30, 30, 30, 1) 0%,
            rgba(0, 0, 0, 1) 100%);
}

button.btn {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

button fa-icon {

    margin: 5px;
}

.page-footer{
    height: 100px;
}
