input{
    width: 350px;
}
.step1{
    text-align: center;
    margin-top: 80px;
}

.background-container{
  margin-top: 60px;
  margin-bottom: 100px;
}

.background-container p{
  text-align: center;
  font-weight: 600;
}
.background-container p span{
  color: #dbb658;
}

.bg-custom{
    background: linear-gradient(
      60deg,
      rgba(30, 30, 30, 1) 0%, 
      rgba(0, 0, 0, 1) 100%
    );
    background-size: cover; 
    background-position: center; 
    padding: 30px;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; 
}

.btn-cancel {
    background: #ffffff; 
    color: #000000; 
    
  }
  
  .btn-next {
    background:  #dbb658;
    
    color: #ffffff; 
  }

.alert{
    color: red;
    width: 350px;
}

.image-container-right{
    position:absolute;
    right:0;
    height:400px;
}
.image-container-left{
  position:absolute;
  left: 20px;
  height:400px;
}
.image-container-right img{
  width: 100%;
}
.image-container-left img{
  width: 100%;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
